*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 150px;
    width: 200px;
    border-radius: 1rem;
}   

img:hover{
    transform: scale(1.1);
}

body{
    text-align: center;
    background-color: #637AB9;
}

h1{
    margin-top: 2rem;
    color: #4af7a3;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.reStart{
    margin-top: 4rem;
    font-size: 2rem;
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    border: 2px solid rgb(216, 94, 234);
    background-color: rgba(173, 119, 224,0.5);
    color: rgb(38, 13, 61);
    font-weight: 600;
}

.reStart:hover{
   background-color: rgba(173, 119, 224,1);
   border: 2px solid rgb(67, 34, 72);
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2rem;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: #A8FBD3;
    height: 2.5rem;
    width: 13rem;
    border-radius: .2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.winner{
    margin-top: 2rem;
    color: #7b1818;
    font-size: 2rem;
    font-weight: 800;
}

p{
    text-align: center;
    display: inline-block;
}

span{
    margin-left: .2rem;
    font-size: 2rem;
}